%h1 Страницы

%table.table-condensed.table-striped.table
  %thead
    %tr
      %th URL
      %th Заголовок
      %th Показывать?
      %th(style="width: 280px")
  %tbody
    = render :partial => 'row', :locals => {:parent_id => nil}

%br

= link_to 'Создать страницу', new_admin_page_path, :class => 'btn btn-success'
