:javascript
  $(function () {
    $('.wymeditor').wymeditor({
      lang: 'ru',
      basePath: '/wymeditor/',
      jQueryPath: '/assets/application.js',
      // stylesheet: '/wymeditor/styles.css',
      dialogLinkSiteLinks: #{links.to_json},

      postInit: function(wym) {
        //render the containers box as a panel
        //and remove the span containing the '>'
        $(wym._box).find(wym._options.containersSelector)
            .removeClass('wym_dropdown')
            .addClass('wym_panel')
            .find('h2 > span')
            .remove();
        //adjust the editor's height
        $(wym._box).find(wym._options.iframeSelector).css('height', '250px');

        wym.resizable();
        wym.table();
        wym.list();
        wym.modal_dialog();
      }
    });
  });